<div class="grid dashboard">
    <div class="col-12 md:col-12 lg:6">
      <div class="perfil-empleador">
        <div class="header">
          <div class="header-left">
            
            <h2>PLANILLA N°  {{ planillaInfo.planilla.com_nro }} - {{ planillaInfo.planilla.empresa }}</h2>
            
            <span class="razon-social"> GESTION: {{ planillaInfo.planilla.gestion }} | MES: {{ planillaInfo.planilla.mes }}</span>
            <hr style="margin: 2px; border: 1px solid rgb(225 225 225 / 43%)">
            <span class="numero-patronal"> N° DE TRABAJADORES : {{ planillaInfo.planilla.total_trabaj }} | TOTAL IMPORTE : {{ planillaInfo.planilla.total_importe }} Bs </span>
          </div>
          <div class="header-right">
            <div class="button-container">
              <!-- <button 
                  *ngIf="planillaInfo.planilla.estado !== 1"
                  pButton 
                  label="Exportar a Excel" 
                  icon="pi pi-file-excel" 
                  class="p-button-success" 
                  (click)="exportarExcel()"
              ></button> -->
           
         <!--      <button
                  pButton
                  label="RESUMEN"
                  class="p-button-info custom-button"
                  (click)="exportarPdfrResumen()"
              >
                  <span class="pi pi-file-pdf custom-icon"></span>
             
              </button>
              <button
                  pButton
                  label="BAJAS "
                  class="p-button-danger custom-button"
                  (click)="exportarPdf()"
              >
                  <span class="pi pi-file-pdf custom-icon"></span>
             
              </button>
              <button
                  pButton
                  label="PLANILLA"
                  class="p-button-success custom-button"
                  (click)="exportarExcel()"
              >
                  <span class="pi pi-file-excel custom-icon"></span>
              </button> -->

              <p-splitButton 
                label="IMPRIMIR REPORTES"
                icon="pi pi-print" 
                [model]="items" 
                appendTo="body"
                [style]="{ 'border-radius': '0px' }"
                class="p-button-info">
            </p-splitButton>

              <button
                  pButton
                  label="VALIDAR PLANILLA"
                  class="p-button-success custom-button"
                  (click)="mostrarModal()"
              >
                
              </button>

       
            


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <p-table
    [value]="trabajadores"
    [paginator]="true"
    [rows]="10"
    [loading]="loading"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nro</th>
        <th>Nombre Completo</th>
        <th>Cargo</th>
        <th>Salario</th>
        <th>Fecha de Ingreso</th>
        <th>Fecha de Retiro</th>
        <th>Regional</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trabajador let-i="rowIndex">
      <tr>
        <td>{{ trabajador.nro }}</td>
        <td>{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }}  {{ trabajador.nombres }}</td>
        <td>{{ trabajador.cargo }}</td>
        <td>{{ trabajador.salario }}</td>
        <td>{{ trabajador.fecha_ingreso }}</td>
        <td>{{ trabajador.fecha_retiro}}</td>
        <td>{{ trabajador.regional }}</td>
       
      </tr>
    </ng-template>
  </p-table>

<hr style="margin: 5px; border: 1px solid rgb(225 225 225 / 43%)">
<div class="grid">
  <!-- ALTAS -->
  <div class="col-6" style="border-bottom: 1px solid green; padding: 0; gap: 2px; padding-right: 5px;">
    <div style="display: flex; align-items: center; justify-content: space-between; border-top: 3px solid #007d70; background-color: #e3e3e3; padding: 5px;">
      <div style="display: flex; align-items: center; gap: 10px;">
        <i class="pi pi-angle-double-up" style="color: #007d70; font-size: 1.5rem;"></i>
        <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Altas</span>
      </div>
      <button pButton type="button" class="p-button p-button-sm" style="display: flex; align-items: center; gap: 15px; padding: 5px 10px; font-size: large; background-color: #007d70;">
        <i class="pi pi-users"></i> <span>{{ altas.length }}</span>
      </button>
    </div>

    <!-- Si hay altas, mostrar tabla -->
    <div *ngIf="altas.length > 0" style="height: 300px; overflow-y: auto;">
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">#</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Regional</th>
            <th style="text-align: left;background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Nombre Completo y Cargo</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Salario</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Fecha de Ingreso</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Fecha de Retiro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabajador of altas">
            <td style="text-align: center; background-color: #edfff7; padding: 8px; font-weight: 600;">{{ trabajador.nro }}</td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.regional }}</td>
            <td style="padding-left: 5px; padding: 8px;">
              <strong>{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }} {{ trabajador.nombres }}</strong><br>
              {{ trabajador.cargo }}
            </td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.salario }}</td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.fecha_ingreso | date:'dd/MM/yyyy' }}</td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.fecha_retiro | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Si no hay altas, mostrar mensaje -->
    <div *ngIf="altas.length === 0" style="text-align: center; font-size: 1.2rem; color: #6c757d; margin-top: 10px;">
      <strong>No hay nuevas altas en esta planilla.</strong>
    </div>
  </div>

  <div class="col-6" style="border-bottom: 1px solid rgb(201, 66, 32); padding: 0; gap: 2px; padding-right: 5px;">
    <div style="display: flex; align-items: center; justify-content: space-between; border-top: 3px solid #da4343; background-color: #e3e3e3; padding: 5px;">
      <div style="display: flex; align-items: center; gap: 10px;">
        <i class="pi pi-angle-double-up" style="color: #e45b5b; font-size: 1.5rem;"></i>
        <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Altas</span>
      </div>
      <button pButton type="button" class="p-button p-button-sm" style="display: flex; align-items: center; gap: 15px; padding: 5px 10px; font-size: large; background-color: #7d0000;">
        <i class="pi pi-users"></i> <span>{{ bajas.length }}</span>
      </button>
    </div>

    <!-- Si hay bajas, mostrar tabla -->
    <div *ngIf="bajas.length > 0" style="height: 300px; overflow-y: auto;">
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">#</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Regional</th>
            <th style="text-align: left; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Nombre Completo y Cargo</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Salario</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Fecha de Ingreso</th>
            <th style="text-align: center; background-color: #f8f9fa; padding: 8px; position: sticky; top: 0;">Fecha de Retiro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabajador of bajas">
            <td style="text-align: center; background-color: #ffeded; padding: 8px; font-weight: 600;">{{ trabajador.nro }}</td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.regional }}</td>
            <td style="padding-left: 5px; padding: 8px;">
              <strong>{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }} {{ trabajador.nombres }}</strong><br>
              {{ trabajador.cargo }}
            </td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.salario }}</td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.fecha_ingreso | date:'dd/MM/yyyy' }}</td>
            <td style="text-align: center; padding: 8px;">{{ trabajador.fecha_retiro | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Si no hay altas, mostrar mensaje -->
    <div *ngIf="altas.length === 0" style="text-align: center; font-size: 1.2rem; color: #6c757d; margin-top: 10px;">
      <strong>No hay nuevas altas en esta planilla.</strong>
    </div>
  </div>
</div>
  
  
  
  
  
  
  


  <p-dialog [(visible)]="displayModal" [style]="{width: '450px'}" header="VALIDAR PLANILLA" [modal]="true" >
    <div class="p-fluid">
      <div class="p-field">
        <label for="estado">Estado</label>
        <p-dropdown id="estado" [(ngModel)]="estadoSeleccionado" [options]="estados" optionLabel="label" optionValue="value" appendTo="body"></p-dropdown>
      </div>
      <div class="p-field" *ngIf="estadoSeleccionado === 3">
        <label for="observaciones">Observaciones</label>
        <textarea id="observaciones" [(ngModel)]="observaciones" rows="3"></textarea>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Cancelar" icon="pi pi-times" (click)="displayModal = false" class="p-button-text"></p-button>
      <p-button label="Guardar" icon="pi pi-check" (click)="guardarEstado()" [disabled]="!estadoSeleccionado"></p-button>
    </ng-template>
  </p-dialog>



