/* Estilo principal */
.perfil-empleador {
    background: #ffffff;
    /* border-radius: 12px; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Estilo de la cabecera compacta */
.header {
    background: linear-gradient(135deg, #009688, #00695c);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #004d40;
    /* flex-direction: row-reverse; */
}

/* Estilo del título "Perfil de Empleador" a la izquierda */
.header-left h2 {
    /* margin: 0; */
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilo para Razón Social y N° Patronal */
.header-right {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Razón Social (Empresa) */
.razon-social {
    font-size: 16px;
    font-weight: bold;
}

/* N° Patronal */
.numero-patronal {
    font-size: 14px;
    color: #e0e0e0;
}

/* Contenedor del contenido */
.perfil-contenido {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 8px;
    padding: 15px;
}

/* Elementos individuales */
.perfil-item {
    background: #f8f8f8;
    padding: 6px 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

/* Estilos de títulos e información */
.titulo {
    font-weight: bold;
    color: #357c61;
}

.info {
    text-align: right;
    color: #333;
}

/* Diseño adaptable */
@media (max-width: 768px) {
    .perfil-contenido {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .header {
        flex-direction: column;
        text-align: center;
    }
    
    .header-right {
        text-align: center;
        margin-top: 5px;
    }
}

















.semaforo-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    gap: 10px; /* Ajusta la separación entre el semáforo y las etiquetas */
  }
  
  .semaforo {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .circle {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
  
  .yellow {
    background-color: #ebebb8;
  }
  
  .green {
    background-color: rgb(78, 214, 146);
  }
  
  .red {
    background-color: #f59999;
  }
  
  .gray {
    background-color: #d3d3d3; /* Gris para los círculos inactivos */
  }
  
  .label-container {
    text-align: center;
  }
  
  label {
    font-size: 12px;
    color: #333;
  }


  .estado-btn {
    padding: 0.25rem 0.5rem; /* Ajusta el padding para que sea compacto */
    border: none; /* Quita el borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 12px; /* Tamaño de fuente */
    font-weight: 600; /* Grosor de la fuente */
    color: white; /* Texto en blanco */
    cursor: default; /* Evita que el cursor cambie a pointer */
  }
  
  /* Estilo para el botón "Pendiente" */
  .pendiente {
    background-color: #ebebb8; /* Amarillo claro */
    color: #333; /* Texto oscuro para mejor contraste */
  }
  
  /* Estilo para el botón "Aprobado" */
  .aprobado {
    background-color: rgb(78, 214, 146); /* Verde */
  }
  
  /* Estilo para el botón "Observado" */
  .observado {
    background-color: #f59999; /* Rojo claro */
  }




















:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #e9e9e9;
    color: #464646;
    border: 1px solid #d3cece;
    padding: 5px;
  }
  
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0;
  }
  
  :host ::ng-deep .p-datatable-header {
    background-color: #e9e9e9;
  }
  
  /* Estilo para la tabla */
  .tabla-centrada {
  
    border-collapse: collapse;
    width: 100%;  /* Asegúrate de que la tabla ocupe el 100% del ancho disponible */
  }
  
  /* Estilo para las celdas (centrar horizontal y verticalmente) */
  .tabla-centrada th, .tabla-centrada td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center; /* Centra el contenido horizontalmente */
    vertical-align: middle; /* Centra el contenido verticalmente */
  }
  
  h3{
    background-color: #009688;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: medium;
    margin: 0;
  }
  
  
  
  .card h5{
    background-color: #009688; 
    color: white; 
    padding: 10px;
    margin: 0;   
    display: inline-block;
   
    width: 100%; 
  }
  
  .text-green {
    color: green;
  }
  
  .text-red {
    color: red;
  }
  
  :host ::ng-deep .p-button-success {
    background-color: #71B452;
    color: #ffffff; 
  }
  
  /* Hacer la tabla más compacta */
  .compact-table .p-datatable-tbody > tr > td, 
  .compact-table .p-datatable-thead > tr > th {
    padding: 0.5rem;
    font-size: 0.85rem;
  }
  
  /* Espaciado reducido entre los botones */
  .flex.gap-1 > * {
    margin-right: 0.25rem;
  }
  
  .centered-table th, .centered-table td {
    text-align: center;
  }
  
  .row-pending {
    background-color: #fff4f4 !important; /* Rojo claro */
  }
  
  .row-assigned {
    background-color: #f0fff0 !important; /* Verde claro */
  }
  
  
  
  
      /* Estilos del contenedor principal */
      .dropdown {
        position: relative;
        display: inline-block;
    }
  
    /* Estilos del botón principal del dropdown */
    .dropdown-button {
        background-color: #4caf50;
        color: white;
        border: 1px solid #4caf50;
        padding: 0.4rem;
        font-size: 0.8rem;
        cursor: pointer;
        height: 2rem;
        border-radius: 4px;
    }
  
    /* Contenedor de los elementos del menú */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 120px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        flex-direction: column;
        border: 1px solid #e9e9e9;
        padding: 0.2rem;
    }
  
    .dropdown-content button {
        background-color: #757575;
        border: none;
        color: white;
        font-size: 0.7rem;
        padding: 0.3rem;
        text-align: left;
        width: 100%;
        height: 2rem;
        cursor: pointer;
        margin: 0.1rem 0;
        border-radius: 4px;
    }
  
    .dropdown-content button:hover {
        background-color: #616161;
    }
  
    /* Mostrar el menú al hacer clic */
    .dropdown.show .dropdown-content {
        display: flex;
    }
  
  
  /* Ocultar el texto en pantallas menores a 1080px */
  @media (max-width: 1079px) {
    .button-text {
        display: none;
    }
    .button-label {
        flex: initial; /* Permite que los botones tengan ancho variable sin texto */
    }
  }
  
  /* Mostrar el texto y hacer que los botones tengan el mismo ancho en pantallas de al menos 1080px */
  @media (min-width: 1080px) {
    .button-text {
        display: inline;
        margin-left: 0.5rem;
        max-width: max-content;
    }
    .p-buttonset {
        display: flex;
    }
    .button-label {
        flex: 1; /* Hace que todos los botones tengan el mismo ancho cuando el texto está visible */
        text-align: center; /* Alinea el contenido al centro */
    }
  }
  
  
  
  
  
  /* Contenedor de la tabla */
  .custom-table-container {
    padding: 1rem;
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Tabla */
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
  }
  
  /* Cabecera de las filas */
  .custom-th {
    background-color: #f4f4f4; /* Fondo azul */
    color: rgb(55, 55, 55); /* Texto blanco */
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    border-bottom: 2px solid #ddd; /* Línea de separación */
    border: 10px solid #ffffff; /* Línea de separación */
    font-size: 15px;
  
  }
  
  /* Celdas de datos */
  .custom-td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd; /* Línea de separación */
    vertical-align: top;
  }
  
  /* Lista de diagnósticos */
  .diagnosticos-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .diagnosticos-list li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #e9ecef; /* Fondo gris claro */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 0.85rem;
  }
  
  /* Estilo para categorías */
  .diagnostico-category {
    display: block;
    color: #343a40; /* Gris oscuro */
    font-weight: bold;
  }
  
  /* Estilo para nombres */
  .diagnostico-name {
    display: block;
    color: #6c757d; /* Gris claro */
    margin-top: 0.25rem;
  }
  
  .alert-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
  }
  
  .alert-active {
    background-color: #4caf50; /* Verde */
    border: 1px solid #388e3c;
  }
  
  .alert-inactive {
    background-color: #f44336; /* Rojo */
    border: 1px solid #d32f2f;
  }
  
  .alert-card i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  
  
  
  
  .botones-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columnas de tamaño igual */
    gap:0.1rem; /* Espaciado uniforme entre botones */
    justify-content: center; /* Centra la cuadrícula horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
  }
  .botones-grid button {
    width: 100%; /* Ancho fijo */
    height: 4rem; /* Alto fijo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  




























/* Contenedor del archivo */
.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 8px;
  }
  
  /* Estilo del input file */
  .file-upload-input {
    display: none; /* Ocultar el input file original */
  }
  
  /* Estilo del botón personalizado */
  .file-upload-button {
    background-color: #009688;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  
  .file-upload-button:hover {
    background-color: #02bdaa;
  }
  
  .file-upload-button i {
    margin-right: 8px;
  }
  
  /* Texto informativo */
  small.text-muted {
    font-size: 12px;
    color: #6c757d;
    margin-top: 5px;
  }
  







