<div class="grid dashboard">
  <div class="col-12 md:col-12 lg:6">
    <div class="perfil-empleador">
      <div class="cabezera-planilla">
        <div class="header-left">
          <h2 style="font-size: 18px; display: flex; align-items: center; font-family: 'Roboto', sans-serif; margin: 5px 0 5px;">
            <span style="background-color: #009688; color: white; padding: 6px 10px; border-radius: 4px 0 0 4px; display: flex; align-items: center;">
              <i class="pi pi-book" style="font-size: 1.2rem; margin-right: 6px; color: white;"></i>
              Planilla N° {{ planillaInfo.planilla.com_nro }}
            </span>
            <span style="background-color: #03665d; color: white; padding: 6px 10px; border-radius: 0 4px 4px 0;">
              {{ planillaInfo.planilla.empresa }}
            </span>
          </h2>
          
          
          <hr style="border: 1px solid #949494; margin: 10px 0;">
        
          <div class="list-container">
            <!-- Estado de Planilla -->
            <div [ngSwitch]="planillaInfo.planilla.estado" class="list-item" 
              [ngStyle]="{'background-color': getFondoEstado(planillaInfo.planilla.estado)}">
              <div class="estado-container" *ngSwitchCase="0">
                <span class="label">ESTADO</span>
                <span class="value" [ngStyle]="{'color': getColorEstado(planillaInfo.planilla.estado)}">
                  BORRADOR <i class="pi pi-question-circle"></i>
                </span>
              </div>
              <div class="estado-container" *ngSwitchCase="1">
              <span class="label">ESTADO</span>
              <span class="value" [ngStyle]="{'color': getColorEstado(planillaInfo.planilla.estado)}">
                PLANILLA PRESENTADA <i class="pi pi-send"></i>
              </span>
            </div>
            <div class="estado-container" *ngSwitchCase="2">
              <span class="label">ESTADO</span>
              <span class="value" [ngStyle]="{'color': getColorEstado(planillaInfo.planilla.estado)}">
                PLANILLA APROBADA <i class="pi pi-check"></i>
              </span>
            </div>
            <div class="estado-container" *ngSwitchCase="3">
              <span class="label">ESTADO</span>
              <span class="value" [ngStyle]="{'color': getColorEstado(planillaInfo.planilla.estado)}">
                PLANILLA OBSERVADA <i class="pi pi-exclamation-triangle"></i>
              </span>
            </div>
          </div>
          
            <!-- Gestión -->
            <div class="list-item">
              <span class="label">Gestión</span>
              <span class="value">
                <i class="pi pi-calendar"></i> {{ planillaInfo.planilla.gestion }}
              </span>
            </div>
          
            <!-- Mes -->
            <div class="list-item">
              <span class="label">Mes</span>
              <span class="value">
                <i class="pi pi-calendar"></i> {{ planillaInfo.planilla.mes }}
              </span>
            </div>
          
            <!-- N° de Trabajadores -->
            <div class="list-item">
              <span class="label">N° de Registros</span>
              <span class="value">
                <i class="pi pi-users"></i> {{ planillaInfo.planilla.total_trabaj }}
              </span>
            </div>
          
            <!-- Total Importe -->
            <div class="list-item">
              <span class="label">Total Importe</span>
              <span class="value">
                <i class="pi pi-money-bill"></i> {{ planillaInfo.planilla.total_importe | number:'1.2-2' }} Bs
              </span>
            </div>
          </div>
        </div>
        <div class="header-right">
          <div class="button-container">

            <button 
              pButton 
              label="Resumen" 
              class="p-button-info"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px; background-color: #45acbd; " 
              (click)="exportarPdfrResumen()">
                <span class="pi pi-book" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Descargar</span>
              </button>

              



              <button 
              *ngIf="planillaInfo.planilla.estado === 3 || planillaInfo.planilla.estado === 0"
              pButton 
              label="Datos" 
              class="p-button-danger"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px; background-color: #db6e6e;" 
              (click)="confirmarEliminacionDetalles()">
                <span class="pi pi-trash" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Limpiar</span>
              </button>

              <button 
              *ngIf="planillaInfo.planilla.estado === 3 || planillaInfo.planilla.estado === 0"
              pButton 
              label="Datos" 
              class="p-button-primary"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px;" 
              (click)="mostrarModalImportar = true"> 
              <span class="pi pi-upload" style="font-size: 2rem; padding-bottom: 10px;"></span>
              <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Cargar</span>
          </button>
    
 

            <button
                *ngIf="planillaInfo.planilla.estado === 2"
                pButton
                label="Planilla" 
                class="p-button-success"
                style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; " 
                (click)="exportarExcel()"
                >
                <span class="pi pi-file-excel" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;">Descargar</span>
            </button>
            

            <button
                *ngIf="planillaInfo.planilla.estado === 3 "
                pButton
                label="Planilla"
                class="p-button-primary boton3"
                style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; background-color: #009667; " 
                (click)="guardarYEnviar()"
                >
                <span class="pi pi-send" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Declarar</span>
                </button>

                 <button 
              *ngIf="planillaInfo.planilla.estado === 0"
              pButton 
              label="Planilla" 
              class="p-button-success boton3"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px; background-color: #47a36d;" 
              (click)="declararPlanillaBorrador()">
                <span class="pi pi-send" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Declarar </span>
              </button> 
          </div>
        </div>
      </div>
      <div [ngSwitch]="planillaInfo.planilla.estado" [ngStyle]="{'background-color': getFondoEstado(planillaInfo.planilla.estado)}" >
        <div *ngSwitchCase="3" style="padding: 20px;">

       
          <span style="color: aliceblue;background-color: #f7f7f7;color: red;padding: 9px;border-radius: 8px;"> 
            <strong style="color: #b00020;"> OBSERVACIÓN: </strong> <span style="color: rgb(73, 73, 73); margin-left: 15px;"> {{ planillaInfo.planilla.observaciones || 'Ninguna' }}</span>
          </span>
        </div>
    
      </div>
    </div>
  </div>
</div>

<p-tabView [style]="{ padding: '5px' , 'border': '1px solid gray'}">
  <p-tabPanel header="Planilla Declarada Mensual" leftIcon="pi pi-file" >
    
    <p-table
    [value]="trabajadores"
    [paginator]="true"
    [rows]="limite"
    [totalRecords]="total"
    [loading]="loading"
    [rowsPerPageOptions]="[5, 10, 15, 20 , -1]"
    [pageLinks]="5"
    [lazy]="true"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm p-datatable-striped"
    [style]="{'font-size': '12px', 'border': '1px solid #dee2e6'}"
    (onPage)="onPageChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando registros del {first} al {last} de un total de {totalRecords} registros"
  >
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between flex-column sm:flex-row">
        <div class="flex align-items-center">
          
            <button pButton style="border: 1px;" label="Recargar" class="p-button-outlined p-button-plain mr-2" icon="pi pi-filter-slash" (click)="recargar()"></button>
           <!--  <button pButton style="border: 1px;" label="Exportar a Excel" class="p-button-outlined p-button-plain" icon="pi pi-file-excel" (click)="recargar()"></button> -->
        </div>
        <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>							
            <input pInputText type="text" #filter (input)="buscar(filter.value)" placeholder="Buscar ..." class="w-full">
        </span>
    </div>
</ng-template>
  <ng-template pTemplate="header">
    <tr style="background-color: #f8f9fa;">
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nro en Planilla</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">CI</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nombre Completo</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Cargo</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Haber Basico</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Salario Total</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Ingreso</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Retiro</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Regional</th>
      <th *ngIf="planillaInfo.planilla.estado === 3 || planillaInfo.planilla.estado === 0" style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-trabajador let-i="rowIndex">
    <tr>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.nro }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.ci }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }} {{ trabajador.nombres }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.cargo }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.haber_basico | number:'1.2-2' }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.salario | number:'1.2-2' }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_ingreso }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_retiro }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.regional }}</td>
      <td *ngIf="planillaInfo.planilla.estado === 3 || planillaInfo.planilla.estado === 0" style="text-align: center; padding: 1px; border: 1px solid #dee2e6;">
        <button
          pButton
          
          icon="pi pi-pencil"
          (click)="editarTrabajador(trabajador)"
          class="p-button-warning p-button-sm"
          style="width: 25px; height: 25px; padding: 0; width: 100%;"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
  </p-tabPanel>
  <p-tabPanel header="Resumen" leftIcon="pi pi-eye" >
    <div style="display: flex; align-items: center; justify-content: space-between;  background-color: #e3e3e3; padding: 5px;">
      <div style="display: flex; align-items: center; gap: 10px;">
        <i class="pi pi-calculator" style="color: #032f53; font-size: 1.5rem;"></i>
        <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Resumen Planilla</span>
      </div>
      <div style="display: flex; align-items: center; gap: 10px;">
        <button pButton style="border: 1px;" label="Exportar a PDF" class="p-button-outlined p-button-plain" icon="pi pi-file-pdf" (click)="recargar()"></button>
        <button pButton style="border: 1px;" label="Recargar" class="p-button-outlined p-button-plain" icon="pi pi-refresh" (click)="obtenerResumenPlanilla()"></button>
      </div>
    </div>
    <div>
      <div class="grid">
        <!-- Sección izquierda: Información de la Planilla -->
        <div class="col-12 md:col-12">
          <p-card  >
            <div *ngIf="resumenData?.planilla" class="custom-table">
              <table class="p-datatable p-datatable-striped w-full">
                <tbody>
                  <tr>
                    <td class="font-bold text-blue-900 border-bottom-1">
                      <i class="pi pi-building mr-2"></i> Empleador
                    </td>
                    <td class="border-bottom-1 text-gray-700">{{ resumenData.planilla.empresa }}</td>
                  </tr>
                  <tr class="surface-ground">
                    <td class="font-bold text-blue-900 border-bottom-1">
                      <i class="pi pi-money-bill mr-2"></i> Total Importe
                    </td>
                    <td class="border-bottom-1 text-gray-700">{{ resumenData.planilla.total_importe | number:'1.2-2' }} Bs</td>
                  </tr>
                  <tr>
                    <td class="font-bold text-blue-900 border-bottom-1">
                      <i class="pi pi-users mr-2"></i> Total Registros
                    </td>
                    <td class="border-bottom-1 text-gray-700">{{ resumenData.planilla.total_trabaj }}</td>
                  </tr>
                  <tr class="surface-ground">
                    <td class="font-bold text-blue-900 border-bottom-1">
                      <i class="pi pi-user-plus mr-2"></i> Total Altas
                    </td>
                    <td class="border-bottom-1 text-green-400">{{ altas.length }}</td>
                  </tr>
                  <tr>
                    <td class="font-bold text-blue-900 border-bottom-1">
                      <i class="pi pi-user-minus mr-2"></i> Total Bajas por Retiro en mes actual
                    </td>
                    <td class="border-bottom-1 text-pink-400">{{ bajasPorRetiro.length }}</td>
                  </tr>
                  <tr class="surface-ground" >
                    <td class="font-bold text-blue-900 border-bottom-1">
                      <i class="pi pi-exclamation-triangle mr-2"></i> Trabajador no encontrado en el mes actual
                    </td>
                    <td class="border-bottom-1 text-pink-400">{{ bajasNoEncontradas.length }} (Verificar)</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!resumenData?.planilla" class="text-center text-gray-500 font-italic p-4 surface-50 border-round">
              No hay datos de la planilla disponibles.
            </div>
          </p-card>
        </div>
    
        <!-- Sección derecha: Tabla de resumen -->
        <div class="col-12 md:col-12">
          <p-table 
            [value]="resumenData?.resumen" 
            [loading]="resumenLoading" 
            [rowHover]="true" 
            styleClass="p-datatable-striped p-datatable-gridlines" 
            responsiveLayout="scroll"
            [style]="{'margin-bottom': '0'}"
            
          >
            <ng-template pTemplate="header">
              <tr>
                <th style=" background-color:#e3e3e3; color: #5f5f5f; font-weight: 600; border-bottom: 2px solid #4b5563; text-align: left;">
                  <i class="pi pi-map-marker mr-2"></i> Regional
                </th>
                <th style=" background-color:#e3e3e3; color: #5f5f5f; font-weight: 600; border-bottom: 2px solid #4b5563; text-align: right;">
                  <i class="pi pi-users mr-2"></i> Cantidad
                </th>
                <th style=" background-color:#e3e3e3; color: #5f5f5f; font-weight: 600; border-bottom: 2px solid #4b5563; text-align: right;">
                  <i class="pi pi-money-bill mr-2"></i> Total Ganado
                </th>
                <th style=" background-color:#e3e3e3; color: #5f5f5f; font-weight: 600; border-bottom: 2px solid #4b5563; text-align: right;">
                  <i class="pi pi-percentage mr-2"></i> 10% del Total
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-region>
              <tr>
                <td style="padding: 2px; color: #374151; border-bottom: 1px solid #e5e7eb;">{{ region.regional }}</td>
                <td style="padding: 2px; color: #374151; border-bottom: 1px solid #e5e7eb; text-align: right;">{{ region.cantidad | number:'1.0-0' }}</td>
                <td style="padding: 2px; color: #374151; border-bottom: 1px solid #e5e7eb; text-align: right;">{{ region.total_ganado }}</td>
                <td style="padding: 2px; color: #374151; border-bottom: 1px solid #e5e7eb; text-align: right;">{{ region.porcentaje_10 }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr *ngIf="resumenData?.totales" 
                  style="background-color: #fef3c7; font-weight: 700; color: #713f12; border-top: 3px double #4b5563; box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);">
                <td style="padding: 2px; background-color: #e3e3e3; color: #5f5f5f; border-top: 3px double #4b5563;">
                  <i class="pi pi-chart-bar mr-2"></i> Totales
                </td>
                <td style="padding: 2px; text-align: right; background-color: #e7fbeb; border-top: 3px double #4b5563;">{{ resumenData.totales.cantidad_total | number:'1.0-0' }}</td>
                <td style="padding: 2px; text-align: right; background-color: #e7fbeb; border-top: 3px double #4b5563;">{{ resumenData.totales.total_ganado }}</td>
                <td style="padding: 2px; text-align: right; background-color: #e7fbeb; border-top: 3px double #4b5563;">{{ resumenData.totales.porcentaje_10 }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4" style="padding: 1.5rem; text-align: center; color: #6b7280; font-style: italic; background-color: #f9fafb;">
                  <i class="pi pi-info-circle mr-2"></i> No hay datos para mostrar.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    
    
  </p-tabPanel>
  <p-tabPanel header="Bajas" leftIcon="pi pi-arrow-down">
<!--  Bajas por Fecha de Retiro -->
<div style="display: flex; align-items: center; justify-content: space-between;  background-color: #e3e3e3; padding: 5px;">
  <div style="display: flex; align-items: center; gap: 10px;">
    <i class="pi pi-angle-double-down" style="color: #e45b5b; font-size: 1.5rem;"></i>
    <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Bajas por fecha de retiro en el mes actual</span>
  </div>
  <button pButton type="button" class="p-button p-button-sm" style="display: flex; align-items: center; gap: 15px; padding: 5px 10px; font-size: large; background-color: #7d0000;">
    <i class="pi pi-users"></i> <span>{{ bajasPorRetiro.length }}</span>
  </button>
</div>
<p-table
  [value]="bajasPorRetiro"
  [paginator]="true"
  [rows]="5"
  [totalRecords]="bajasPorRetiro.length"
  [rowsPerPageOptions]="[5, 10, 15, 20]"
  [pageLinks]="5"
  responsiveLayout="scroll"
  styleClass="p-datatable-sm p-datatable-striped"
  [style]="{'font-size': '12px', 'border': '1px solid #dee2e6'}"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando registros del {first} al {last} de un total de {totalRecords} registros"
>



  <ng-template pTemplate="header">
    <tr style="background-color: #f8f9fa;">
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nro en Planilla</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">CI</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nombre Completo</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Cargo</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Haber Basico</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Salario Total</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Ingreso</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Retiro</th>
      <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Regional</th>
     
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-trabajador let-i="rowIndex">
    <tr style="background-color: #ffeded;">
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.nro }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.ci }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }} {{ trabajador.nombres }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.cargo }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.haber_basico | number:'1.2-2' }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.salario | number:'1.2-2' }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_ingreso }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_retiro }}</td>
      <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.regional }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="10" style="text-align: center; padding: 8px;">
        <strong>No hay bajas por fecha de retiro.</strong>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- trabajdor no encontrado en el mes actual  -->
<div style="display: flex; align-items: center; justify-content: space-between; background-color: #e3e3e3; padding: 5px;">
  <div style="display: flex; align-items: center; gap: 10px;">
    <i class="pi pi-angle-double-down" style="color: #e49d5b; font-size: 1.5rem;"></i>
    <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Trabajador no encontrado en el mes actual</span>
  </div>
  <button pButton type="button" class="p-button p-button-sm" style="display: flex; align-items: center; gap: 15px; padding: 5px 10px; font-size: large; background-color: #7d4b00;">
    <i class="pi pi-users"></i> <span>{{ bajasNoEncontradas.length }}</span>
  </button>
</div>

<p-table
[value]="bajasNoEncontradas"
[paginator]="true"
[rows]="5"
[totalRecords]="bajasNoEncontradas.length"
[rowsPerPageOptions]="[5, 10, 15, 20]"
[pageLinks]="5"
responsiveLayout="scroll"
styleClass="p-datatable-sm p-datatable-striped"
[style]="{'font-size': '12px', 'border': '1px solid #dee2e6'}"
[showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando registros del {first} al {last} de un total de {totalRecords} registros"
>


<!-- Encabezado -->
<ng-template pTemplate="header">
<tr style="background-color: #f8f9fa;">
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nro en Planilla</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">CI</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nombre Completo</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Cargo</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Haber Basico</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Salario Total</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Ingreso</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Retiro</th>
  <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Regional</th>
 
</tr>
</ng-template>
<ng-template pTemplate="body" let-trabajador let-i="rowIndex">
<tr style="background-color: #fff4ed;">
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.nro }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.ci }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }} {{ trabajador.nombres }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.cargo }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.haber_basico | number:'1.2-2' }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.salario | number:'1.2-2' }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_ingreso }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_retiro }}</td>
  <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.regional }}</td>

</tr>
</ng-template>

<!-- Mensaje cuando no hay datos -->
<ng-template pTemplate="emptymessage">
<tr>
  <td colspan="10" style="text-align: center; padding: 8px;">
    <strong>No hay datos encontrados.</strong>
  </td>
</tr>
</ng-template>
</p-table>

  </p-tabPanel>
  <p-tabPanel header="Altas" leftIcon="pi pi-arrow-up">

    <div style="display: flex; align-items: center; justify-content: space-between;  background-color: #e3e3e3; padding: 5px;">
      <div style="display: flex; align-items: center; gap: 10px;">
        <i class="pi pi-angle-double-up" style="color: #5be479; font-size: 1.5rem;"></i>
        <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Personal Nuevo</span>
      </div>
      <div style="display: flex; align-items: center; gap: 10px;">
        <button pButton style="border: 1px;" label="Exportar a Excel" class="p-button-outlined p-button-plain" icon="pi pi-file-excel" (click)="recargar()"></button>
        <button pButton style="border: 1px;" label="Exportar a Pdf" class="p-button-outlined p-button-plain" icon="pi pi-file-pdf" (click)="recargar()"></button>
        <button pButton type="button" class="p-button p-button-sm" style="display: flex; align-items: center; gap: 15px; padding: 7px 10px; font-size: large; background-color: #007d00;">
          <i class="pi pi-users"></i> <span>{{ altas.length }}</span>
        </button>
        
      </div>
    </div>

        <p-table
          [value]="altas"
          [paginator]="true"
          [rows]="15"
          [totalRecords]="altas.length"
          [rowsPerPageOptions]="[5, 10, 15, 20]"
          [pageLinks]="5"
          responsiveLayout="scroll"
          styleClass="p-datatable-sm p-datatable-striped"
          [style]="{'font-size': '12px', 'border': '1px solid #dee2e6'}"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando registros del {first} al {last} de un total de {totalRecords} registros"
        >

    
           <!-- Encabezado -->
           <ng-template pTemplate="header">
            <tr style="background-color: #f8faf8;">
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nro</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">CI</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Nombre Completo</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Cargo</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Haber Basico</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Salario Total</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Ingreso</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Fecha de Retiro</th>
              <th style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">Regional</th>
             
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-trabajador let-i="rowIndex">
            <tr style="background-color: #e6ffe6;">
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.nro }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.ci }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.apellido_paterno }} {{ trabajador.apellido_materno }} {{ trabajador.nombres }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.cargo }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.haber_basico | number:'1.2-2' }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.salario | number:'1.2-2' }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_ingreso }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.fecha_retiro }}</td>
              <td style="text-align: center; padding: 5px; border: 1px solid #dee2e6;">{{ trabajador.regional }}</td>
            
            </tr>
          </ng-template>
    
          <!-- Mensaje cuando no hay datos -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7" style="text-align: center; padding: 8px;">
                <strong>No hay nuevas altas en esta planilla.</strong>
              </td>
            </tr>
          </ng-template>
        </p-table>

    </p-tabPanel>
</p-tabView>



<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h2>Editar Trabajador</h2>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="p-fluid">
      <div class="p-field">
        <label for="ci">CI</label>
        <input id="ci" pInputText [(ngModel)]="trabajadorSeleccionado.ci" />
      </div>
      <div class="p-field">
        <label for="apellido_paterno">Apellido Paterno</label>
        <input id="apellido_paterno" pInputText [(ngModel)]="trabajadorSeleccionado.apellido_paterno" />
      </div>
      <div class="p-field">
        <label for="nombres">Nombres</label>
        <input id="nombres" pInputText [(ngModel)]="trabajadorSeleccionado.nombres" />
      </div>
      <div class="p-field">
        <label for="cargo">Cargo</label>
        <input id="cargo" pInputText [(ngModel)]="trabajadorSeleccionado.cargo" />
      </div>
      <div class="p-field">
        <label for="salario">Salario</label>
        <input id="salario" pInputText type="number" [(ngModel)]="trabajadorSeleccionado.salario" />
      </div>
      <div class="p-field">
        <label for="fecha_ingreso">Fecha de Ingreso</label>
        <input id="fecha_ingreso" pInputText [(ngModel)]="trabajadorSeleccionado.fecha_ingreso" />
      </div>
      <div class="p-field">
        <label for="regional">Regional</label>
        <p-dropdown
          id="regional"
          [options]="regionales"
          [(ngModel)]="trabajadorSeleccionado.regional"
        ></p-dropdown>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton label="Cancelar" icon="pi pi-times" (click)="displayModal = false" class="p-button-text"></button>
    <button pButton label="Guardar" icon="pi pi-check" (click)="guardarEdicion()" class="p-button-success"></button>
  </ng-template>
</p-dialog>




<p-dialog [(visible)]="mostrarModalImportar" [modal]="true" header="Importar Nueva Planilla" [closable]="true" [style]="{width: '600px'}">
  <div class="p-field">
      <label for="archivo" class="p-d-block font-bold">Seleccionar archivo (Excel)</label>
      <div class="file-upload-container">
          <input type="file" id="archivo" accept=".xlsx, .xls" (change)="seleccionarArchivo($event)" class="file-upload-input" #fileInput hidden />
          <button type="button" class="p-button p-button-secondary" (click)="fileInput.click()">
              <i class="pi pi-upload"></i> Seleccionar Archivo
          </button>
      </div>
      <p *ngIf="archivoSeleccionado" class="p-mt-2"><strong>Archivo seleccionado:</strong> {{ archivoSeleccionado.name }}</p>
  </div>

  <div class="p-d-flex p-jc-end p-mt-3">
      <button pButton label="Cancelar" class="p-button-text p-mr-2" (click)="cerrarModalImportar()"></button>
      <button pButton label="Subir Planilla" class="p-button-success" (click)="importarNuevaPlanilla()" [disabled]="!archivoSeleccionado"></button>
  </div>
</p-dialog>
