<div class="grid dashboard">
  <div class="col-12 md:col-12 lg:6">
    <div class="perfil-empleador">
      <div class="header">
        <div class="header-left">
          <h2 style="font-size: 25px;"><i class="pi pi-book" style="font-size: 2rem; margin-right: 10px;"></i>PLANILLA N°  {{ planillaInfo.planilla.com_nro }} - {{ planillaInfo.planilla.empresa }}</h2>
          <div style="background-color: #038377; padding: 11px; border-radius: 10px;">
            <table style="width: 100%; ">
              <tr>  
                <td style="font-size: 16px; font-weight: 600; color: #e2e2e2; width: 15%; ">GESTION:</td>
                <td style="font-size: 16px; color: white;border-bottom: 1px solid #ffffff54;text-align: center; ">{{ planillaInfo.planilla.gestion }}</td>
                <td style="width: 10%;"></td>
                <td style="font-size: 16px; font-weight: 600; color: #e2e2e2; width: 35%; ">N° DE TRABAJADORES:</td>
                <td style="font-size: 16px; color: white;border-bottom: 1px solid #ffffff54;text-align: center; ">{{ planillaInfo.planilla.total_trabaj }}</td>
                
              </tr>
              
              <tr>
                <td style="font-size: 16px; font-weight: 600; color: #e2e2e2;   ">MES:</td>
                <td style="font-size: 16px; color: white; border-bottom: 1px solid #ffffff54;text-align: center; ">{{ planillaInfo.planilla.mes }}</td>
                <td style="width: 10%;"></td>
                <td style="font-size: 16px; font-weight: 600; color: #e2e2e2; ">TOTAL IMPORTE:</td>
                <td style="font-size: 16px; color: white; border-bottom: 1px solid #ffffff54;text-align: center; ">{{ planillaInfo.planilla.total_importe }} Bs</td>
              </tr>
            </table>
          </div>
          
          

        </div>
        <div class="header-right">
          <div class="button-container">

            <button 
              
              pButton 
              label="Resumen" 
              class="p-button-info"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px; background-color: #45acbd; " 
              (click)="exportarPdfrResumen()">
                <span class="pi pi-book" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Descargar</span>
              </button>

            



              <button 
              *ngIf="planillaInfo.planilla.estado === 3"
              pButton 
              label="Datos" 
              class="p-button-danger"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px; background-color: #db6e6e;" 
              (click)="confirmarEliminacionDetalles()">
                <span class="pi pi-trash" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Limpiar</span>
              </button>

              <button 
              *ngIf="planillaInfo.planilla.estado === 3 && trabajadores.length === 0"
              pButton 
              label="Datos" 
              class="p-button-primary"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; width: 80px;" 
              (click)="mostrarModalImportar = true"> 
              <span class="pi pi-upload" style="font-size: 2rem; padding-bottom: 10px;"></span>
              <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Cargar</span>
          </button>
    
             <!--  <button 
              *ngIf="planillaInfo.planilla.estado === 3"
              pButton 
              label="Importar Planilla" 
              class="p-button-success"
              style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; " 
              (click)="importarNuevaPlanilla()" 
              [disabled]="!archivoSeleccionado">
              <span class="pi pi-upload" style="font-size: 2rem; padding-bottom: 10px;"></span>
              </button> -->

            <button
                *ngIf="planillaInfo.planilla.estado === 2"
                pButton
                label="Planilla" 
                class="p-button-success"
                style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; " 
                (click)="exportarExcel()"
                >
                <span class="pi pi-file-excel" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;">Descargar</span>
            </button>
            

            <button
                *ngIf="planillaInfo.planilla.estado === 3"
                pButton
                label="Planilla"
                class="p-button-primary"
                style="display: flex; flex-direction: column; align-items: center; font-size: 1rem; background-color: #009667; " 
                (click)="guardarYEnviar()"
                >
                <span class="pi pi-send" style="font-size: 2rem; padding-bottom: 10px;"></span>
                <span style="font-size: 10px;color: #ffffff;border-bottom: 1px solid white;margin-bottom: 2px;" >Enviar</span>
                </button>
          </div>
        </div>
      </div>
      <div [ngSwitch]="planillaInfo.planilla.estado" [ngStyle]="{'background-color': getFondoEstado(planillaInfo.planilla.estado)}" style="padding: 20px;">
        <div *ngSwitchCase="3" >

          <a class="btn btn-info" href="" style="background-color: #d15a5a;color: #ffffff;border-radius: 7px;padding: 10px;margin-right: 10px;">
            <i class="pi pi-exclamation-triangle"></i> 
            Planilla Observada
          </a>
       
          <span style="color: aliceblue;background-color: #f7f7f7;color: red;padding: 9px;border-radius: 8px;"> 
            <strong style="color: #b00020;"> OBSERVACIÓN: </strong> <span style="color: rgb(73, 73, 73); margin-left: 15px;"> {{ planillaInfo.planilla.observaciones || 'Ninguna' }}</span>
          </span>
        </div>
        <div *ngSwitchCase="2" >
          <a class="btn btn-info" href="" style="background-color: #5ad15a;color: #ffffff;border-radius: 7px;padding: 10px;margin-right: 10px;">
            <i class="pi pi-check"></i> 
            PLANILLA APROBADA
          </a>
        </div>
        <div *ngSwitchDefault >
          <a class="btn btn-info" href="" style="background-color: #77a1cb;color: #ffffff;border-radius: 7px;padding: 10px;margin-right: 10px;">
            <i class="pi pi-eye"></i> 
            <strong> PLANILLA ENVIADA : </strong> EN ESPERA DE APROBACIÓN 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<p-table
  [value]="trabajadores"
  [paginator]="true"
  [rows]="20"
  [loading]="loading"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nro</th>
      <th>CI</th>
      <th>Nombre Completo</th>
      <th>Cargo</th>
      <th>Salario</th>
      <th>Fecha de Ingreso</th>
      <th>Fecha de Retiro</th>
      <th>Regional</th>
      <th *ngIf="planillaInfo.planilla.estado === 3">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-trabajador let-i="rowIndex">
    <tr>
      <td>{{ trabajador.nro }}</td>
      <td>{{ trabajador.ci }}</td>
      <td>{{ trabajador.apellido_paterno }} {{ trabajador.nombres }}</td>
      <td>{{ trabajador.cargo }}</td>
      <td>{{ trabajador.salario }}</td>
      <td>{{ trabajador.fecha_ingreso }}</td>
      <td>{{ trabajador.fecha_retiro }}</td>
      <td>{{ trabajador.regional }}</td>
      <td *ngIf="planillaInfo.planilla.estado === 3">
        <button
          pButton
          icon="pi pi-pencil"
          (click)="editarTrabajador(trabajador)"
          class="p-button-warning p-button-sm"
          style="width: 100%; height: 25px;"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h2>Editar Trabajador</h2>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="p-fluid">
      <div class="p-field">
        <label for="ci">CI</label>
        <input id="ci" pInputText [(ngModel)]="trabajadorSeleccionado.ci" />
      </div>
      <div class="p-field">
        <label for="apellido_paterno">Apellido Paterno</label>
        <input id="apellido_paterno" pInputText [(ngModel)]="trabajadorSeleccionado.apellido_paterno" />
      </div>
      <div class="p-field">
        <label for="nombres">Nombres</label>
        <input id="nombres" pInputText [(ngModel)]="trabajadorSeleccionado.nombres" />
      </div>
      <div class="p-field">
        <label for="cargo">Cargo</label>
        <input id="cargo" pInputText [(ngModel)]="trabajadorSeleccionado.cargo" />
      </div>
      <div class="p-field">
        <label for="salario">Salario</label>
        <input id="salario" pInputText type="number" [(ngModel)]="trabajadorSeleccionado.salario" />
      </div>
      <div class="p-field">
        <label for="fecha_ingreso">Fecha de Ingreso</label>
        <input id="fecha_ingreso" pInputText [(ngModel)]="trabajadorSeleccionado.fecha_ingreso" />
      </div>
      <div class="p-field">
        <label for="regional">Regional</label>
        <p-dropdown
          id="regional"
          [options]="regionales"
          [(ngModel)]="trabajadorSeleccionado.regional"
        ></p-dropdown>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton label="Cancelar" icon="pi pi-times" (click)="displayModal = false" class="p-button-text"></button>
    <button pButton label="Guardar" icon="pi pi-check" (click)="guardarEdicion()" class="p-button-success"></button>
  </ng-template>
</p-dialog>




<p-dialog [(visible)]="mostrarModalImportar" [modal]="true" header="Importar Nueva Planilla" [closable]="true" [style]="{width: '600px'}">
  <div class="p-field">
      <label for="archivo" class="p-d-block font-bold">Seleccionar archivo (Excel)</label>
      <div class="file-upload-container">
          <input type="file" id="archivo" accept=".xlsx, .xls" (change)="seleccionarArchivo($event)" class="file-upload-input" #fileInput hidden />
          <button type="button" class="p-button p-button-secondary" (click)="fileInput.click()">
              <i class="pi pi-upload"></i> Seleccionar Archivo
          </button>
      </div>
      <p *ngIf="archivoSeleccionado" class="p-mt-2"><strong>Archivo seleccionado:</strong> {{ archivoSeleccionado.name }}</p>
  </div>

  <div class="p-d-flex p-jc-end p-mt-3">
      <button pButton label="Cancelar" class="p-button-text p-mr-2" (click)="cerrarModalImportar()"></button>
      <button pButton label="Subir Planilla" class="p-button-success" (click)="importarNuevaPlanilla()" [disabled]="!archivoSeleccionado"></button>
  </div>
</p-dialog>
