<!-- src/app/components/liquidaciones-aportes/liquidaciones-aportes.component.html -->
<div class="container">
    <div style="display: flex; align-items: center; justify-content: space-between;  background-color: #e3e3e3; padding: 5px;">
        <div style="display: flex; align-items: center; gap: 10px;">
          <i class="pi pi-calculator" style="color: #917d61; font-size: 1.5rem;"></i>
          <span style="font-size: 1.25rem; font-weight: bold; color: #5f5f5f;">Liquidacion de Aportes  </span>
        </div>
        <div style="display: flex; align-items: center; gap: 10px;">
          
          
          
        </div>
      </div>
  
    <!-- Tabla para mostrar los resultados -->
    <div *ngIf="planilla" class="container">
      <p-table 
        [value]="[planilla]" 
        styleClass="p-datatable-striped"
        [style]="{'font-size': '12px', 'border': '1px solid #dee2e6'}"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr style="padding: 30px;">
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">SALARIO COTIZABLE</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">APORTE AP=10% AV=3%</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">UFV DIA OBLIG. FORMAL</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">UFV DIA PRESENTACION</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">FECHA PRESENTACION OFICIAL</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">FECHA DE DEPOSITO O PRESENTACION</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">AP. PATRONAL ACTUALIZADO</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">MONTO ACTUALIZADO</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">1% MULTA POR LA NO PRESENTACION PLANILLA</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">DIAS DE RETRASO</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">INTERES</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">MULTAS S/INT.10%</th>
            <th style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">TOTAL PARCIAL</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-planilla>
          <tr>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.total_importe === 0 ? 'red' : 'inherit'}">
              {{ planilla.total_importe | currency:'BOB' }}
            </td>
            <td style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">
              {{ planilla.aporte_porcentaje | currency:'BOB' }}
            </td>
            <td style="text-align: center; padding: 20px; border: 1px solid #dee2e6; background-color: #ffffec;">
              {{ planilla.ufv_dia_formal }}
            </td>
            <td style="text-align: center; padding: 20px; border: 1px solid #dee2e6; background-color: #e5ffed;">
              {{ planilla.ufv_dia_presentacion }}
            </td>
            <td style="text-align: center; padding: 20px; border: 1px solid #dee2e6; background-color: #ffffec;">
              {{ planilla.fecha_declarada | date:'dd/MM/yyyy' : '-0400' }}
            </td>
            <td style="text-align: center; padding: 20px; border: 1px solid #dee2e6; background-color: #e5ffed;">
              {{ planilla.fecha_pago | date:'dd/MM/yyyy' : '-0400' }}
            </td>
            <td style="text-align: center; padding: 20px; border: 1px solid #dee2e6;">
              {{ planilla.aporte_actualizado | currency:'BOB' }}
            </td>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.monto_actualizado === 0 ? 'red' : 'inherit'}">
              {{ planilla.monto_actualizado | currency:'BOB' }}
            </td>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.multa_no_presentacion === 0 ? 'red' : 'inherit'}">
              {{ planilla.multa_no_presentacion | currency:'BOB' }}
            </td>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.dias_retraso === 0 ? 'red' : 'inherit'}">
              {{ planilla.dias_retraso }}
            </td>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.intereses === 0 ? 'red' : 'inherit'}">
              {{ planilla.intereses | currency:'BOB' }}
            </td>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.multa_sobre_intereses === 0 ? 'red' : 'inherit'}">
              {{ planilla.multa_sobre_intereses | currency:'BOB' }}
            </td>
            <td [ngStyle]="{'text-align': 'center', 'padding': '20px', 'border': '1px solid #dee2e6', 'color': planilla.total_a_cancelar_parcial === 0 ? 'red' : 'inherit'}">
              {{ planilla.total_a_cancelar_parcial | currency:'BOB' }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">

          <tr>
            <td colspan="12" style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              Total Multas:
            </td>
            <td style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              {{ planilla.total_multas | currency:'BOB' }}
            </td>
          </tr>


          <tr>
            <td colspan="12" style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              Total Tasa de Interés:
            </td>
            <td style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              {{ planilla.total_tasa_interes | currency:'BOB' }}
            </td>
          </tr>

          <tr>
            <td colspan="12" style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              Form DS-08:
            </td>
            <td style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              5,00 BOB
            </td>
          </tr>



          <tr>
            <td colspan="12" style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              Total Aportes ASUSS:
            </td>
            <td style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
             - {{ planilla.total_aportes_asuss | currency:'BOB' }}
            </td>
          </tr>

          <tr>
            <td colspan="12" style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              Total Aportes Ministerio de Salud:
            </td>
            <td style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              - {{ planilla.total_aportes_min_salud | currency:'BOB' }}
            </td>
          </tr>

          <tr>
            <td colspan="12" style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold;">
              Total a Cancelar:
            </td>
            <td style="text-align: right; padding: 10px; border: 1px solid #dee2e6; font-weight: bold; background-color: #e5ffed;">
              {{ planilla.total_a_cancelar | currency:'BOB' }}
            </td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  
    <!-- Mostrar mensaje de error si no hay datos -->
    <div *ngIf="errorMessage && !planilla" class="mt-3">
        <div style="text-align: center; padding: 20px; background-color: #fff;">
        <div class="no-data-message">
            <i class="pi pi-info-circle" style="font-size: 2.5rem; color: #888;"></i>
            <p style="margin-top: 10px; font-size: 1.2rem; color: #888;">La planilla no tiene el pago realizado por tanto no se puede realizar el calculo de su liquidación </p>
          </div>
        </div>
    </div>
  </div>